@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgb(7, 7, 7);
}

.text-gradient {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #ff3bff, #ecbfbf, #5c24ff, #d94fd5);
}
